@page "/nuevaOpcion"

<PageTitle>Nueva Opcion</PageTitle>

<h1>MENU</h1>
<p> NUEVA OPCION DE MENU</p>

<p>Hecho por Hayland Montalvo, Jorge Moncayo, Rebeca Barrezueta y Emilio Albornoz</p>
<a href="https://www.youtube.com/watch?v=sTReE_7ZIU0&list=LL&index=1 ">Click para escuchar una cancion</a>


@code {
    
}